@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body * {
   box-sizing: inherit;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body *:after,
body *:before {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
}

body,
input,
textarea {
   input[type='number']::-webkit-inner-spin-button,
   input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
   }
}

p,
a,
ul,
li,
button {
   font-family: 'Inter', sans-serif;
}

input:-webkit-autofill::first-line {
   background-color: transparent;
}

input:-webkit-autofill {
   -webkit-box-shadow: none;
   -webkit-font-smoothing: antialiased;
   -webkit-background-clip: text;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 0 transparent inset;
   -webkit-text-fill-color: #000;
}

input {
   caret-color: black;
}

::-webkit-scrollbar {
   width: 0px;
   z-index: 1;

   &-thumb {
      cursor: pointer;
      border-radius: 8px;
      background: #c5c5c5;
   }
}

.no-selection {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   touch-action: none;
}

@layer components {
   .loader {
      border-top: 2px solid currentColor;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid transparent;
      width: 16px;
      height: 16px;
      border-radius: 50%;
   }

   .animation-spin {
      animation: spin 0.75s linear infinite;
   }

   @keyframes spin {
      from {
         transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
         transform: translate(-50%, -50%) rotate(360deg);
      }
   }
}

/* Estilos para blocos de código */
pre code {
   background: transparent !important;
   padding: 0 !important;
}

code {
   border-radius: 0.375rem;
   font-size: 0.875rem;
   font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
}

/* Ajuste as cores do código inline se necessário */
:not(pre) > code {
   background: rgba(135, 131, 120, 0.15);
   padding: 0.2em 0.4em;
   border-radius: 3px;
}
