@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body * {
   box-sizing: inherit;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body *:after,
body *:before {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
}

body,
input,
textarea {
   input[type='number']::-webkit-inner-spin-,
   input[type='number']::-webkit-outer-spin- {
      -webkit-appearance: none;
      margin: 0;
   }

   input[type='number'] {
      -moz-appearance: textfield !important;
      appearance: textfield !important;
   }
}

p,
a,
ul,
li,
button {
   font-family: 'Inter', sans-serif;
}

input:-webkit-autofill::first-line {
   background-color: transparent;
}

input:-webkit-autofill {
   -webkit-box-shadow: none;
   -webkit-font-smoothing: antialiased;
   -webkit-background-clip: text;
}

input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 0 transparent inset;
   -webkit-text-fill-color: white;
}

input {
   caret-color: black;
}

::-webkit-scrollbar {
   width: 0px;
   z-index: 1;

   &-thumb {
      cursor: pointer;
      border-radius: 8px;
      background: #c5c5c5;
   }
}

.no-selection {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   touch-action: none;
}
